html{
	box-sizing:border-box
	}

*,*:before,*:after{
		box-sizing:inherit
	}

body {
	text-align: center;
	margin: 0;
}

header {
	color:  #FFFFFF;
	background-color: #F15B31;
	padding:  30px 20px;
	position:  relative;
}

main {
	margin: 35px 0;
	text-align: center;
}

h1 {
	font-family: Raleway, sans-serif;
	letter-spacing: 1px;
	font-weight: 400 ;
	font-size: 45px;
	margin:  0;
}

h2 {
	color: #0D2C40;
	font-size: 20px;
	text-align: center;
}

a {
	color: #F15B31;
    font-size:  18px;
	text-decoration: none;
	margin: auto 8px;
}

a:hover {
	color: #FFB17D;
	border-color: white;
}
a:visited {
	color: #FFB17D;
	text-decoration: none;
}
/* nav section styles */
.flexNav {
	display: flex;
	justify-content: center;
	background-color: #00A6B3;
	padding: 20px 0;
}

nav a {
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	margin: auto 23px;

}

nav a:hover {
	text-decoration: none;
	}
nav a:visited {
	color: #FFF7EC;
	text-decoration: none;
}

h2, a {
	font-family: Raleway, sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
}
p {
	font-family:  "Droid Serif", serif;
	line-height:  26px;
	font-size:  18px;
	margin: 1rem auto;
	max-width: 850px;
}
img {
	margin: 40px 8px;
}

footer {
	display: flex;
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	overflow: auto;
}
.bar-item {
	width: 100%;
    display: block;
    padding: 8px 16px;
    border: none;
    outline: none;
    white-space: normal;
    float: none;
}

.hamburger {
	color:  #FFFFFF;
	background-color: transparent;
	border: none;
	outline: none;
	position:  relative;
	vertical-align: center;
	font-size: 30px;
}
.hamburger:focus {
	outline: none;
}
.left-align {
	text-align: left;
}
.right-align {
	text-align: right;
}
.animate-right {
		position:relative;
		animation:animateright 0.4s;
	}
.animate-left {
		position:relative;
		animation:animateright 0.4s;
		animation-direction: reverse;
	}
@keyframes animateright{
	from{right:-300px;opacity:0}
	to{right:0;opacity:1}
}
.sidebar {
    height: auto;
    width: 200px;
    background-color: #B7EDF1;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}
.block {
	display: block;
    width: 100%;
    color:#F15B31;
}
.button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    margin: auto;
}
.button:focus {
	outline: none;
}
.card {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.drop {
	font-weight: 600;
	text-align: left;
}
.fa {
	font-weight: 600;
}
.hide {
	display: none!important;
}
.right {
    float: right;
}

/* scoreboard styles */
.scoreboard {

	font-family: Raleway, sans-serif;
	background: #B7EDF1;
	color: #FFB17D ;
	font-size:  18px;
	text-align:  center;
	text-decoration: none;
	text-transform: uppercase;
	margin: 20px auto;
	padding: 0 20px;
	overflow: auto;
	white-space: nowrap;
	letter-spacing: .08em;

}
.scoreboard span {
	color:#F15B31 ;
}
/* About section styling in addition to Bootstrap */
.about {
	margin-bottom: 10px;
	overflow: auto;
}
.strap {
	margin-top: 10px;
}
/* style for footer fun */
.heart {
	color: red;
}
.name {
	margin: 20px -13px;
	border-bottom: 2px solid transparent;
	color: #F15B31;
	font-weight: 700;
}
.copyright {
	font-family: Raleway, sans-serif;
	margin: 20px auto 20px 4px;
}

.message {
	font-family: Raleway, sans-serif;
	margin: 20px 4px 20px auto;
	white-space: nowrap;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content:  " ";
	clear:  both;
	height: 0;
	font-size: 0;
}
/*End styles for footer fun */
/* separate styles for game buttons */
.actionBtn {
	margin: 20px 0;
	font-family:  "Droid Serif", serif;
	font-size: 16px;
	color: #FFB17D;
	border-width: 3px;
	border-color: #B7EDF1;
	border-radius: 12px;
    text-decoration: none;
    background-color: #CBEDF1;
    cursor: pointer;
    white-space: nowrap;
    overflow:  auto;
}
/* Remove standard focus CSS from bootstrap*/
.actionBtn:focus {
	outline: none;
}
/* pointer for cards */
#game-board > img {
	cursor: pointer;
}
/* Set CSS Grid for header */
.griddle {
	height: 100%;
    display: grid;
    grid-template-columns: 25px auto 25px;

}

.griddle > div {
    justify-items: center;
    align-items: center;
}

.griddle > div:nth-child(1) {
  grid-column:2;
}

.griddle > div:nth-child(2) {
  grid-column: 3;
}
/* set visual for smaller screens - RESEARCH MORE */
@media only screen and (max-width: 768px) {
.griddle {
    display: block;
}
.right {
	float: none;
}
}
