html{
	box-sizing:border-box
	}
*,*:before,*:after{
		box-sizing:inherit
	}
body {
	text-align: center;
	margin: 0;
}
header {
	color:  #FFFFFF;
	background-color: #F15B31;
	padding:  30px 20px;
	position:  relative;
}
main {
	width:  850px;
	margin: 35px auto;
	text-align: center;
}
h1 {
	font-family: Raleway, sans-serif;
	letter-spacing: 1px;
	font-weight: 400 ;
	font-size: 45px;
	margin:  0;
}
nav {
	background-color: #00A6B3;
	padding: 20px 0;
}
h2 {
	color: #0D2C40;
	font-size: 20px;
	text-align: center;
}
a {
	color: #0D2C40;
    font-size:  18px;
	text-decoration: none;
	margin: 20px;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-color: white;
}
a:visited {
	color: #FFB17D;
	text-decoration: none;
}

nav a {
	color: #FFFFFF;
	text-decoration: none;
}
#memorySidebar a {
	color: #FFB17D;
	text-decoration: none;
}
nav a:visited {
	color: #FFF7EC;
	text-decoration: none;
}

h2, a {
	font-family: Raleway, sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
}
p {
	font-family:  "Droid Serif", serif;
	line-height:  26px;
	font-size:  18px;
}
img {
	margin: 40px 8px;
}
li {
	display: inline;
	padding: 0 10px 0 10px;
}
footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	overflow: auto;
}
.bar-item {
	width: 100%;
    display: block;
    padding: 8px 16px;
    border: none;
    outline: none;
    white-space: normal;
    float: none;
}
.bgc {
	background-color: #FFB17D!important;
}
.hamburger {
	color:  #FFFFFF;
	background-color: #F15B31;
	border: none;
	outline: none;
	position:  absolute;
	top: 34px;
	right: 34px;
}
.large{
	font-size: 30px!important;
}
.left-align {
	text-align: left;
}
.right-align {
	text-align: right;
}
.animate-right {
		position:relative;
		animation:animateright 0.4s;
	}
.animate-left {
		position:relative;
		animation:animateright 0.4s;
		animation-direction: reverse;
	}
@keyframes animateright{
	from{right:-300px;opacity:0}
	to{right:0;opacity:1}
}
.sidebar {
    height: auto;
    width: 200px;
    background-color: #B7EDF1;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}
.block {
	display: block;
    width: 100%;
    color:#F15B31;
}
.button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    margin: auto;
}
.card {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.drop {
	font-weight: 600;
	text-align: left;
}
.fa {
	font-weight: 600;
}
.hide {
	display: none!important;
}
.right {
    float: right!important;
}
.fill {

	max-width: 1440px;
	font-family: Raleway, sans-serif;
	background: #B7EDF1;
	color: #FFB17D ;
	font-size:  18px;
	text-align:  center;
	text-decoration: none;
	text-transform: uppercase;
	margin: 20px auto;
	padding: 0 20px;
	overflow: auto;
	letter-spacing: .08em;

}
.heart {
	color: red;
}
.name {
	margin: 20px -13px;
	border-bottom: 2px solid transparent;
	color: #F15B31;
	font-weight: 700;
}
.copyright {
	font-family: Raleway, sans-serif;
	float: left;
}
.message {
	font-family: Raleway, sans-serif;
	float:  right;
	margin: 20px 0;
}
.clearfix:after {
visibility: hidden;
display: block;
content:  " ";
clear:  both;
height: 0;
font-size: 0;
}
#zero {
	margin: 20px 0;
}
@media (min-width: 993px)
.sidebar {
    display: block!important;
}